<!DOCTYPE html>
<html class="photography-demo-2">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Demo Photography 2 | Porto - Responsive HTML5 Template 6.0.0</title>
		<meta name="keywords" content="HTML5 Template" />
		<meta name="description" content="Porto - Responsive HTML5 Template">
        <link rel="shortcut icon" href="/statics/img/favicon.ico" type="image/x-icon" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"    crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>

	<body class="loading-overlay-showing" >
      <div class="row">
          　<div class="col-md-12 col-lg-6 isotope-item"  >
               <img class="sample-item-image lazy-load-loaded animated fadeIn" src="/statics/images/common/preview-coming-soon.jpg" >
            </div>
        </div>

	</body>
</html>
